body {
    margin: 0;
    padding: 0;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0.625rem;
    display: flex;
    flex-direction: column;
}

.header {
    padding-top: 1.25rem;
}

.next-section {
    float: right;
    text-decoration: none;
    color: black;
}

.next-section:hover {
    text-decoration: underline;
}

.next-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.next-section-content__preview {
    width: 2.5rem;
}

.next-section-content__name {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.section-body {

}

.section-body-item {
    display: flex;
    margin-bottom: 30px;
}

.section-body-item__pic {
    max-width: 130px;
    margin-right: 1.875rem;
}

.section-body-item-annotation {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-body-item-annotation__name {
    font-size: 2rem;
}

.section-body-item-annotation__tagline {
    font-size: 1.5rem;
}

.section-body-item-annotation__description {
    font-size: 1rem;
}
