body {
    margin: 0;
    padding: 0;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    padding-top: 20px;
}

.next-section {
    float: right;
    text-decoration: none;
    color: black;
}

.next-section:hover {
    text-decoration: underline;
}

.next-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.next-section-content__preview {
    width: 40px;
}

.next-section-content__name {

}
